 /* About Me Section */
 
 #about {
     background-color: #f9f3fd;
     transform: translateY(50px);
     display: flex;
     flex-direction: column;
     align-items: center;
     /* Center-align content horizontally */
     text-align: center;
     padding-bottom: 20px;
     margin-bottom: 80px;
     transition: opacity var(--transition-speed), transform var(--transition-speed);
 }
 
 .about-header {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 20px;
 }
 
 .profile-picture {
     width: 80px;
     /* Small size profile picture */
     height: 80px;
     border-radius: 50%;
     /* Circular profile picture */
     margin-right: 15px;
     /* Space between picture and heading */
 }
 
 #about p {
     font-size: 1.2rem;
     line-height: 1.8;
     color: #4d4c4c;
     margin-bottom: 20px;
     max-width: 1200px;
 }
 
 .social-media {
     margin: 1rem 0;
 }
 
 .social-media a {
     margin: 0 1rem;
     text-decoration: none;
     color: #686868;
     font-size: 1.2rem;
 }
 
 .social-media a:hover {
     color: var(--main-color);
 }
 
 @media(max-width: 480px) {
     #about p {
         font-size: 1rem;
     }
 }