/*Comments Section*/

.comments-title {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
    color: var(--main-color);
}

.comments-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
    margin: 30px;
}

@media (max-width: 1024px) {
    .comments-container {
        flex-wrap: wrap;
    }
    .comment {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .comments-container {
        flex-direction: column;
        align-items: center;
    }
    .comment {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
    }
}

.comment {
    flex-shrink: 0;
    width: 290px;
    background-color: #e7e8fe;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 2px solid transparent;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.comment:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    background-color: #f0f0f5;
    border-color: var(--main-color);
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 15px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.comment:hover .profile-pic {
    transform: scale(1.1);
}

.comment-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    transition: color 0.3s ease;
    margin: 0;
}

.comment:hover .name {
    color: var(--main-color);
}

.comment-text {
    font-size: 17px;
    color: #707070;
    text-align: center;
    margin-top: 15px;
    font-weight: normal;
}

.person-link {
    display: block;
    font-size: 10px;
    color: #707070;
    text-decoration: none;
    margin-top: 2px;
}